body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background: #777777;
    width: 960px;
    font-size: 18px;
    text-align: center;
}

header {
    background: #ebebeb;
    margin: 10px 0px 10px 0px;
    padding: 25px 100px 25px 100px;
}

nav {
    background: #ebebeb;
    margin: 10px 0px 10px 0px;
    padding: 25px 100px 25px 100px;
}

section {
    background: #ebebeb;
    width: 480px;
    height: 250px;
    margin: 10px 0px 20px 0px;
    padding: 25px 10px 25px 10px;
    float: left;
}

aside {
	background: #ebebeb;
	width: 420px;
	height: 250px;	
    margin: 10px 0px 20px 0px;
    padding: 25px 10px 25px 10px;
	float: right;
}

article {
    color: #ebebeb;
    background: #777777;
    padding: 25px 10px 10px 10px;
    margin: 20px 0px 10px 0px;
}

h1, p {
    color: #777777;
    background: #ebebeb;
    padding: 20px;
    margin: 10px;
}

footer {
    background: #ebebeb;
    padding: 25px 10px 25px 10px;
    margin: 20px 0px 100px 0px;
	clear: both;
}